@import url('common.less');

.nav_1_1 {
    padding: 14px 14px;
    h5 {
        font-weight: normal;
        width: 170px;
        height: 20px;
        line-height: 20px;
        font-size: 18px;
        color: #333333;
        overflow: hidden;
    }
}

.nav_1_1_div {
    position: relative;
}

 .xingjian,.zhankaisq,.piliangydsc {
    width: 21px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    i {
        display: block;
        width: 21px;
        height: 20px;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
    }
    .treeDropMenu{
        width: 100px;
        position: absolute;
    }
    &:hover .treeDropMenu{
        display: block;
    }
}

.xingjian{
    right: 40px;
    i{
        background-image: url('@{themes}/xingjian.png');
    }
}
.zhankaisq i { background-image: url('@{themes}/zhankaisq.png'); }
.piliangydsc i { background-image: url('@{themes}/xiangqing_z.png'); }


.search{
    position: relative;
    width: 228px;
    margin: 5px auto 14px;
    ::-webkit-scrollbar{width:5px;height:5px;}
    ::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:999px;border:6px solid #ebedf0;}
    ::-webkit-scrollbar-track{box-shadow:1px 1px 5px rgba(0,0,0,.2) inset;}
    ::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;border:6px solid #06f;}
    ::-webkit-scrollbar-corner{background:transparent;}
    &-text{
        width: 228px;
        height: 30px;
        padding-left: 10px;
        padding-right: 26px;
        border: 1px solid rgb( 221, 221, 221);
        border-radius: 3px;
        outline: none;
        vertical-align: middle;
    }
    &-submit{
        position: absolute;
        top: 0;
        right: 0;
        width: 26px;
        height: 30px;
        background: url('@{themes}/sousuo.png') center no-repeat;
        border: none;
        outline: none;
        vertical-align: middle;
        cursor: pointer;
        &:hover{
            background-image: url('@{themes}/sousuo_on.png');
        }
    }
    &-result-box{
        width: 228px;
        height: auto;
        max-height: 300px;
        padding: 6px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        overflow-y: scroll;
        position: absolute;
        left: 0;
        top: 36px;
        z-index: 9;

        .emptyResult{
            padding: 0 12px;
            line-height: 24px;
            text-align: center;
            font-size: 14px;
            color: #000;
        }
        li{
            padding: 5px 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #333;
            font-size: 14px;
            cursor: pointer;
            &:hover{
                background: #eee;
            }
        }
    }
}
